programming_1/G02_C_basics_get_str_etc/*.exe
programming_1/G02_C_basics_get_str_etc/*.tds
programming_1/G02_C_basics_get_str_etc/*.obj
programming_1/G02_C_basics_get_str_etc/*.class
programming_1/G02_C_basics_get_str_etc/*.mk
programming_1/G03_windows_1/*.exe
programming_1/G03_windows_1/*.tds
programming_1/G03_windows_1/*.obj
programming_1/G03_windows_1/*.class
programming_1/G03_windows_1/*.mk
programming_1/G03_windows_1/G01_bat_files/*.exe
programming_1/G03_windows_1/G01_bat_files/*.tds
programming_1/G03_windows_1/G01_bat_files/*.obj
programming_1/G03_windows_1/G01_bat_files/*.class
programming_1/G03_windows_1/G01_bat_files/*.mk
programming_1/G03_windows_1/windows_shellscript/*.exe
programming_1/G03_windows_1/windows_shellscript/*.tds
programming_1/G03_windows_1/windows_shellscript/*.obj
programming_1/G03_windows_1/windows_shellscript/*.class
programming_1/G03_windows_1/windows_shellscript/*.mk
programming_1/G04_chrome_extensions_1/*.exe
programming_1/G04_chrome_extensions_1/*.tds
programming_1/G04_chrome_extensions_1/*.obj
programming_1/G04_chrome_extensions_1/*.class
programming_1/G04_chrome_extensions_1/*.mk
programming_1/G04_chrome_extensions_1/G01/*.exe
programming_1/G04_chrome_extensions_1/G01/*.tds
programming_1/G04_chrome_extensions_1/G01/*.obj
programming_1/G04_chrome_extensions_1/G01/*.class
programming_1/G04_chrome_extensions_1/G01/*.mk
programming_1/G04_chrome_extensions_1/G01/STORAGE_G01/*.exe
programming_1/G04_chrome_extensions_1/G01/STORAGE_G01/*.tds
programming_1/G04_chrome_extensions_1/G01/STORAGE_G01/*.obj
programming_1/G04_chrome_extensions_1/G01/STORAGE_G01/*.class
programming_1/G04_chrome_extensions_1/G01/STORAGE_G01/*.mk
programming_1/G04_chrome_extensions_1/G02_get_time/*.exe
programming_1/G04_chrome_extensions_1/G02_get_time/*.tds
programming_1/G04_chrome_extensions_1/G02_get_time/*.obj
programming_1/G04_chrome_extensions_1/G02_get_time/*.class
programming_1/G04_chrome_extensions_1/G02_get_time/*.mk
programming_1/G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*.exe
programming_1/G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*.tds
programming_1/G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*.obj
programming_1/G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*.class
programming_1/G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*.mk
programming_1/G05_FireFox_addons/*.exe
programming_1/G05_FireFox_addons/*.tds
programming_1/G05_FireFox_addons/*.obj
programming_1/G05_FireFox_addons/*.class
programming_1/G05_FireFox_addons/*.mk
programming_1/G05_FireFox_addons/helloworld/*.exe
programming_1/G05_FireFox_addons/helloworld/*.tds
programming_1/G05_FireFox_addons/helloworld/*.obj
programming_1/G05_FireFox_addons/helloworld/*.class
programming_1/G05_FireFox_addons/helloworld/*.mk
programming_1/G05_FireFox_addons/helloworld/content/*.exe
programming_1/G05_FireFox_addons/helloworld/content/*.tds
programming_1/G05_FireFox_addons/helloworld/content/*.obj
programming_1/G05_FireFox_addons/helloworld/content/*.class
programming_1/G05_FireFox_addons/helloworld/content/*.mk
programming_1/G05_FireFox_addons/helloworld/locale/*.exe
programming_1/G05_FireFox_addons/helloworld/locale/*.tds
programming_1/G05_FireFox_addons/helloworld/locale/*.obj
programming_1/G05_FireFox_addons/helloworld/locale/*.class
programming_1/G05_FireFox_addons/helloworld/locale/*.mk
programming_1/G05_FireFox_addons/helloworld/locale/en-US/*.exe
programming_1/G05_FireFox_addons/helloworld/locale/en-US/*.tds
programming_1/G05_FireFox_addons/helloworld/locale/en-US/*.obj
programming_1/G05_FireFox_addons/helloworld/locale/en-US/*.class
programming_1/G05_FireFox_addons/helloworld/locale/en-US/*.mk
programming_1/G05_FireFox_addons/helloworld/skin/*.exe
programming_1/G05_FireFox_addons/helloworld/skin/*.tds
programming_1/G05_FireFox_addons/helloworld/skin/*.obj
programming_1/G05_FireFox_addons/helloworld/skin/*.class
programming_1/G05_FireFox_addons/helloworld/skin/*.mk
programming_1/G06_gitignore/*.exe
programming_1/G06_gitignore/*.tds
programming_1/G06_gitignore/*.obj
programming_1/G06_gitignore/*.class
programming_1/G06_gitignore/*.mk
programming_1/G06_gitignore/a/*.exe
programming_1/G06_gitignore/a/*.tds
programming_1/G06_gitignore/a/*.obj
programming_1/G06_gitignore/a/*.class
programming_1/G06_gitignore/a/*.mk
programming_1/G06_gitignore/a/b/*.exe
programming_1/G06_gitignore/a/b/*.tds
programming_1/G06_gitignore/a/b/*.obj
programming_1/G06_gitignore/a/b/*.class
programming_1/G06_gitignore/a/b/*.mk
programming_1/G06_gitignore/a/c/*.exe
programming_1/G06_gitignore/a/c/*.tds
programming_1/G06_gitignore/a/c/*.obj
programming_1/G06_gitignore/a/c/*.class
programming_1/G06_gitignore/a/c/*.mk
programming_1/G06_gitignore/d/*.exe
programming_1/G06_gitignore/d/*.tds
programming_1/G06_gitignore/d/*.obj
programming_1/G06_gitignore/d/*.class
programming_1/G06_gitignore/d/*.mk
programming_1/G06_gitignore/d/e/*.exe
programming_1/G06_gitignore/d/e/*.tds
programming_1/G06_gitignore/d/e/*.obj
programming_1/G06_gitignore/d/e/*.class
programming_1/G06_gitignore/d/e/*.mk
programming_1/G07_regular_expression/*.exe
programming_1/G07_regular_expression/*.tds
programming_1/G07_regular_expression/*.obj
programming_1/G07_regular_expression/*.class
programming_1/G07_regular_expression/*.mk
programming_1/G07_regular_expression/chp_02/*.exe
programming_1/G07_regular_expression/chp_02/*.tds
programming_1/G07_regular_expression/chp_02/*.obj
programming_1/G07_regular_expression/chp_02/*.class
programming_1/G07_regular_expression/chp_02/*.mk
programming_1/G07_regular_expression/chp_03/*.exe
programming_1/G07_regular_expression/chp_03/*.tds
programming_1/G07_regular_expression/chp_03/*.obj
programming_1/G07_regular_expression/chp_03/*.class
programming_1/G07_regular_expression/chp_03/*.mk
programming_1/G08_C_CPP_MYLIB/*.exe
programming_1/G08_C_CPP_MYLIB/*.tds
programming_1/G08_C_CPP_MYLIB/*.obj
programming_1/G08_C_CPP_MYLIB/*.class
programming_1/G08_C_CPP_MYLIB/*.mk
programming_1/STOR_G20111027_043828_etc_1/*.exe
programming_1/STOR_G20111027_043828_etc_1/*.tds
programming_1/STOR_G20111027_043828_etc_1/*.obj
programming_1/STOR_G20111027_043828_etc_1/*.class
programming_1/STOR_G20111027_043828_etc_1/*.mk
