./.git/*..exe
./.git/*..tds
./.git/*..obj
./.git/*..class
./.git/*..mk
./.git/hooks/*..exe
./.git/hooks/*..tds
./.git/hooks/*..obj
./.git/hooks/*..class
./.git/hooks/*..mk
./.git/info/*..exe
./.git/info/*..tds
./.git/info/*..obj
./.git/info/*..class
./.git/info/*..mk
./.git/logs/*..exe
./.git/logs/*..tds
./.git/logs/*..obj
./.git/logs/*..class
./.git/logs/*..mk
./.git/logs/refs/*..exe
./.git/logs/refs/*..tds
./.git/logs/refs/*..obj
./.git/logs/refs/*..class
./.git/logs/refs/*..mk
./.git/logs/refs/heads/*..exe
./.git/logs/refs/heads/*..tds
./.git/logs/refs/heads/*..obj
./.git/logs/refs/heads/*..class
./.git/logs/refs/heads/*..mk
./.git/logs/refs/remotes/*..exe
./.git/logs/refs/remotes/*..tds
./.git/logs/refs/remotes/*..obj
./.git/logs/refs/remotes/*..class
./.git/logs/refs/remotes/*..mk
./.git/logs/refs/remotes/origin/*..exe
./.git/logs/refs/remotes/origin/*..tds
./.git/logs/refs/remotes/origin/*..obj
./.git/logs/refs/remotes/origin/*..class
./.git/logs/refs/remotes/origin/*..mk
./.git/objects/*..exe
./.git/objects/*..tds
./.git/objects/*..obj
./.git/objects/*..class
./.git/objects/*..mk
./.git/objects/01/*..exe
./.git/objects/01/*..tds
./.git/objects/01/*..obj
./.git/objects/01/*..class
./.git/objects/01/*..mk
./.git/objects/02/*..exe
./.git/objects/02/*..tds
./.git/objects/02/*..obj
./.git/objects/02/*..class
./.git/objects/02/*..mk
./.git/objects/04/*..exe
./.git/objects/04/*..tds
./.git/objects/04/*..obj
./.git/objects/04/*..class
./.git/objects/04/*..mk
./.git/objects/06/*..exe
./.git/objects/06/*..tds
./.git/objects/06/*..obj
./.git/objects/06/*..class
./.git/objects/06/*..mk
./.git/objects/08/*..exe
./.git/objects/08/*..tds
./.git/objects/08/*..obj
./.git/objects/08/*..class
./.git/objects/08/*..mk
./.git/objects/0a/*..exe
./.git/objects/0a/*..tds
./.git/objects/0a/*..obj
./.git/objects/0a/*..class
./.git/objects/0a/*..mk
./.git/objects/0c/*..exe
./.git/objects/0c/*..tds
./.git/objects/0c/*..obj
./.git/objects/0c/*..class
./.git/objects/0c/*..mk
./.git/objects/0e/*..exe
./.git/objects/0e/*..tds
./.git/objects/0e/*..obj
./.git/objects/0e/*..class
./.git/objects/0e/*..mk
./.git/objects/1a/*..exe
./.git/objects/1a/*..tds
./.git/objects/1a/*..obj
./.git/objects/1a/*..class
./.git/objects/1a/*..mk
./.git/objects/1b/*..exe
./.git/objects/1b/*..tds
./.git/objects/1b/*..obj
./.git/objects/1b/*..class
./.git/objects/1b/*..mk
./.git/objects/26/*..exe
./.git/objects/26/*..tds
./.git/objects/26/*..obj
./.git/objects/26/*..class
./.git/objects/26/*..mk
./.git/objects/3a/*..exe
./.git/objects/3a/*..tds
./.git/objects/3a/*..obj
./.git/objects/3a/*..class
./.git/objects/3a/*..mk
./.git/objects/3c/*..exe
./.git/objects/3c/*..tds
./.git/objects/3c/*..obj
./.git/objects/3c/*..class
./.git/objects/3c/*..mk
./.git/objects/3d/*..exe
./.git/objects/3d/*..tds
./.git/objects/3d/*..obj
./.git/objects/3d/*..class
./.git/objects/3d/*..mk
./.git/objects/3f/*..exe
./.git/objects/3f/*..tds
./.git/objects/3f/*..obj
./.git/objects/3f/*..class
./.git/objects/3f/*..mk
./.git/objects/41/*..exe
./.git/objects/41/*..tds
./.git/objects/41/*..obj
./.git/objects/41/*..class
./.git/objects/41/*..mk
./.git/objects/47/*..exe
./.git/objects/47/*..tds
./.git/objects/47/*..obj
./.git/objects/47/*..class
./.git/objects/47/*..mk
./.git/objects/4e/*..exe
./.git/objects/4e/*..tds
./.git/objects/4e/*..obj
./.git/objects/4e/*..class
./.git/objects/4e/*..mk
./.git/objects/4f/*..exe
./.git/objects/4f/*..tds
./.git/objects/4f/*..obj
./.git/objects/4f/*..class
./.git/objects/4f/*..mk
./.git/objects/5b/*..exe
./.git/objects/5b/*..tds
./.git/objects/5b/*..obj
./.git/objects/5b/*..class
./.git/objects/5b/*..mk
./.git/objects/61/*..exe
./.git/objects/61/*..tds
./.git/objects/61/*..obj
./.git/objects/61/*..class
./.git/objects/61/*..mk
./.git/objects/63/*..exe
./.git/objects/63/*..tds
./.git/objects/63/*..obj
./.git/objects/63/*..class
./.git/objects/63/*..mk
./.git/objects/67/*..exe
./.git/objects/67/*..tds
./.git/objects/67/*..obj
./.git/objects/67/*..class
./.git/objects/67/*..mk
./.git/objects/78/*..exe
./.git/objects/78/*..tds
./.git/objects/78/*..obj
./.git/objects/78/*..class
./.git/objects/78/*..mk
./.git/objects/79/*..exe
./.git/objects/79/*..tds
./.git/objects/79/*..obj
./.git/objects/79/*..class
./.git/objects/79/*..mk
./.git/objects/7a/*..exe
./.git/objects/7a/*..tds
./.git/objects/7a/*..obj
./.git/objects/7a/*..class
./.git/objects/7a/*..mk
./.git/objects/7b/*..exe
./.git/objects/7b/*..tds
./.git/objects/7b/*..obj
./.git/objects/7b/*..class
./.git/objects/7b/*..mk
./.git/objects/85/*..exe
./.git/objects/85/*..tds
./.git/objects/85/*..obj
./.git/objects/85/*..class
./.git/objects/85/*..mk
./.git/objects/87/*..exe
./.git/objects/87/*..tds
./.git/objects/87/*..obj
./.git/objects/87/*..class
./.git/objects/87/*..mk
./.git/objects/88/*..exe
./.git/objects/88/*..tds
./.git/objects/88/*..obj
./.git/objects/88/*..class
./.git/objects/88/*..mk
./.git/objects/92/*..exe
./.git/objects/92/*..tds
./.git/objects/92/*..obj
./.git/objects/92/*..class
./.git/objects/92/*..mk
./.git/objects/96/*..exe
./.git/objects/96/*..tds
./.git/objects/96/*..obj
./.git/objects/96/*..class
./.git/objects/96/*..mk
./.git/objects/97/*..exe
./.git/objects/97/*..tds
./.git/objects/97/*..obj
./.git/objects/97/*..class
./.git/objects/97/*..mk
./.git/objects/98/*..exe
./.git/objects/98/*..tds
./.git/objects/98/*..obj
./.git/objects/98/*..class
./.git/objects/98/*..mk
./.git/objects/a5/*..exe
./.git/objects/a5/*..tds
./.git/objects/a5/*..obj
./.git/objects/a5/*..class
./.git/objects/a5/*..mk
./.git/objects/a9/*..exe
./.git/objects/a9/*..tds
./.git/objects/a9/*..obj
./.git/objects/a9/*..class
./.git/objects/a9/*..mk
./.git/objects/ad/*..exe
./.git/objects/ad/*..tds
./.git/objects/ad/*..obj
./.git/objects/ad/*..class
./.git/objects/ad/*..mk
./.git/objects/ae/*..exe
./.git/objects/ae/*..tds
./.git/objects/ae/*..obj
./.git/objects/ae/*..class
./.git/objects/ae/*..mk
./.git/objects/af/*..exe
./.git/objects/af/*..tds
./.git/objects/af/*..obj
./.git/objects/af/*..class
./.git/objects/af/*..mk
./.git/objects/b0/*..exe
./.git/objects/b0/*..tds
./.git/objects/b0/*..obj
./.git/objects/b0/*..class
./.git/objects/b0/*..mk
./.git/objects/b5/*..exe
./.git/objects/b5/*..tds
./.git/objects/b5/*..obj
./.git/objects/b5/*..class
./.git/objects/b5/*..mk
./.git/objects/b6/*..exe
./.git/objects/b6/*..tds
./.git/objects/b6/*..obj
./.git/objects/b6/*..class
./.git/objects/b6/*..mk
./.git/objects/b7/*..exe
./.git/objects/b7/*..tds
./.git/objects/b7/*..obj
./.git/objects/b7/*..class
./.git/objects/b7/*..mk
./.git/objects/b9/*..exe
./.git/objects/b9/*..tds
./.git/objects/b9/*..obj
./.git/objects/b9/*..class
./.git/objects/b9/*..mk
./.git/objects/bc/*..exe
./.git/objects/bc/*..tds
./.git/objects/bc/*..obj
./.git/objects/bc/*..class
./.git/objects/bc/*..mk
./.git/objects/be/*..exe
./.git/objects/be/*..tds
./.git/objects/be/*..obj
./.git/objects/be/*..class
./.git/objects/be/*..mk
./.git/objects/c3/*..exe
./.git/objects/c3/*..tds
./.git/objects/c3/*..obj
./.git/objects/c3/*..class
./.git/objects/c3/*..mk
./.git/objects/c5/*..exe
./.git/objects/c5/*..tds
./.git/objects/c5/*..obj
./.git/objects/c5/*..class
./.git/objects/c5/*..mk
./.git/objects/c6/*..exe
./.git/objects/c6/*..tds
./.git/objects/c6/*..obj
./.git/objects/c6/*..class
./.git/objects/c6/*..mk
./.git/objects/c9/*..exe
./.git/objects/c9/*..tds
./.git/objects/c9/*..obj
./.git/objects/c9/*..class
./.git/objects/c9/*..mk
./.git/objects/cc/*..exe
./.git/objects/cc/*..tds
./.git/objects/cc/*..obj
./.git/objects/cc/*..class
./.git/objects/cc/*..mk
./.git/objects/cd/*..exe
./.git/objects/cd/*..tds
./.git/objects/cd/*..obj
./.git/objects/cd/*..class
./.git/objects/cd/*..mk
./.git/objects/d0/*..exe
./.git/objects/d0/*..tds
./.git/objects/d0/*..obj
./.git/objects/d0/*..class
./.git/objects/d0/*..mk
./.git/objects/d2/*..exe
./.git/objects/d2/*..tds
./.git/objects/d2/*..obj
./.git/objects/d2/*..class
./.git/objects/d2/*..mk
./.git/objects/d6/*..exe
./.git/objects/d6/*..tds
./.git/objects/d6/*..obj
./.git/objects/d6/*..class
./.git/objects/d6/*..mk
./.git/objects/dc/*..exe
./.git/objects/dc/*..tds
./.git/objects/dc/*..obj
./.git/objects/dc/*..class
./.git/objects/dc/*..mk
./.git/objects/e1/*..exe
./.git/objects/e1/*..tds
./.git/objects/e1/*..obj
./.git/objects/e1/*..class
./.git/objects/e1/*..mk
./.git/objects/e2/*..exe
./.git/objects/e2/*..tds
./.git/objects/e2/*..obj
./.git/objects/e2/*..class
./.git/objects/e2/*..mk
./.git/objects/e3/*..exe
./.git/objects/e3/*..tds
./.git/objects/e3/*..obj
./.git/objects/e3/*..class
./.git/objects/e3/*..mk
./.git/objects/e5/*..exe
./.git/objects/e5/*..tds
./.git/objects/e5/*..obj
./.git/objects/e5/*..class
./.git/objects/e5/*..mk
./.git/objects/e8/*..exe
./.git/objects/e8/*..tds
./.git/objects/e8/*..obj
./.git/objects/e8/*..class
./.git/objects/e8/*..mk
./.git/objects/e9/*..exe
./.git/objects/e9/*..tds
./.git/objects/e9/*..obj
./.git/objects/e9/*..class
./.git/objects/e9/*..mk
./.git/objects/ea/*..exe
./.git/objects/ea/*..tds
./.git/objects/ea/*..obj
./.git/objects/ea/*..class
./.git/objects/ea/*..mk
./.git/objects/ed/*..exe
./.git/objects/ed/*..tds
./.git/objects/ed/*..obj
./.git/objects/ed/*..class
./.git/objects/ed/*..mk
./.git/objects/ef/*..exe
./.git/objects/ef/*..tds
./.git/objects/ef/*..obj
./.git/objects/ef/*..class
./.git/objects/ef/*..mk
./.git/objects/f1/*..exe
./.git/objects/f1/*..tds
./.git/objects/f1/*..obj
./.git/objects/f1/*..class
./.git/objects/f1/*..mk
./.git/objects/f4/*..exe
./.git/objects/f4/*..tds
./.git/objects/f4/*..obj
./.git/objects/f4/*..class
./.git/objects/f4/*..mk
./.git/objects/f6/*..exe
./.git/objects/f6/*..tds
./.git/objects/f6/*..obj
./.git/objects/f6/*..class
./.git/objects/f6/*..mk
./.git/objects/f9/*..exe
./.git/objects/f9/*..tds
./.git/objects/f9/*..obj
./.git/objects/f9/*..class
./.git/objects/f9/*..mk
./.git/objects/fd/*..exe
./.git/objects/fd/*..tds
./.git/objects/fd/*..obj
./.git/objects/fd/*..class
./.git/objects/fd/*..mk
./.git/objects/info/*..exe
./.git/objects/info/*..tds
./.git/objects/info/*..obj
./.git/objects/info/*..class
./.git/objects/info/*..mk
./.git/objects/pack/*..exe
./.git/objects/pack/*..tds
./.git/objects/pack/*..obj
./.git/objects/pack/*..class
./.git/objects/pack/*..mk
./.git/refs/*..exe
./.git/refs/*..tds
./.git/refs/*..obj
./.git/refs/*..class
./.git/refs/*..mk
./.git/refs/heads/*..exe
./.git/refs/heads/*..tds
./.git/refs/heads/*..obj
./.git/refs/heads/*..class
./.git/refs/heads/*..mk
./.git/refs/remotes/*..exe
./.git/refs/remotes/*..tds
./.git/refs/remotes/*..obj
./.git/refs/remotes/*..class
./.git/refs/remotes/*..mk
./.git/refs/remotes/origin/*..exe
./.git/refs/remotes/origin/*..tds
./.git/refs/remotes/origin/*..obj
./.git/refs/remotes/origin/*..class
./.git/refs/remotes/origin/*..mk
./.git/refs/tags/*..exe
./.git/refs/tags/*..tds
./.git/refs/tags/*..obj
./.git/refs/tags/*..class
./.git/refs/tags/*..mk
./Debug/*..exe
./Debug/*..tds
./Debug/*..obj
./Debug/*..class
./Debug/*..mk
./Debug/STOR_G20111027_043828_etc_1/*..exe
./Debug/STOR_G20111027_043828_etc_1/*..tds
./Debug/STOR_G20111027_043828_etc_1/*..obj
./Debug/STOR_G20111027_043828_etc_1/*..class
./Debug/STOR_G20111027_043828_etc_1/*..mk
./G02_C_basics_get_str_etc/*..exe
./G02_C_basics_get_str_etc/*..tds
./G02_C_basics_get_str_etc/*..obj
./G02_C_basics_get_str_etc/*..class
./G02_C_basics_get_str_etc/*..mk
./G03_windows_1/*..exe
./G03_windows_1/*..tds
./G03_windows_1/*..obj
./G03_windows_1/*..class
./G03_windows_1/*..mk
./G03_windows_1/G01_bat_files/*..exe
./G03_windows_1/G01_bat_files/*..tds
./G03_windows_1/G01_bat_files/*..obj
./G03_windows_1/G01_bat_files/*..class
./G03_windows_1/G01_bat_files/*..mk
./G03_windows_1/windows_shellscript/*..exe
./G03_windows_1/windows_shellscript/*..tds
./G03_windows_1/windows_shellscript/*..obj
./G03_windows_1/windows_shellscript/*..class
./G03_windows_1/windows_shellscript/*..mk
./G04_chrome_extensions_1/*..exe
./G04_chrome_extensions_1/*..tds
./G04_chrome_extensions_1/*..obj
./G04_chrome_extensions_1/*..class
./G04_chrome_extensions_1/*..mk
./G04_chrome_extensions_1/G01/*..exe
./G04_chrome_extensions_1/G01/*..tds
./G04_chrome_extensions_1/G01/*..obj
./G04_chrome_extensions_1/G01/*..class
./G04_chrome_extensions_1/G01/*..mk
./G04_chrome_extensions_1/G01/STORAGE_G01/*..exe
./G04_chrome_extensions_1/G01/STORAGE_G01/*..tds
./G04_chrome_extensions_1/G01/STORAGE_G01/*..obj
./G04_chrome_extensions_1/G01/STORAGE_G01/*..class
./G04_chrome_extensions_1/G01/STORAGE_G01/*..mk
./G04_chrome_extensions_1/G02_get_time/*..exe
./G04_chrome_extensions_1/G02_get_time/*..tds
./G04_chrome_extensions_1/G02_get_time/*..obj
./G04_chrome_extensions_1/G02_get_time/*..class
./G04_chrome_extensions_1/G02_get_time/*..mk
./G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*..exe
./G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*..tds
./G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*..obj
./G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*..class
./G04_chrome_extensions_1/G02_get_time/STORAGE_G02_get_time/*..mk
./G05_FireFox_addons/*..exe
./G05_FireFox_addons/*..tds
./G05_FireFox_addons/*..obj
./G05_FireFox_addons/*..class
./G05_FireFox_addons/*..mk
./G05_FireFox_addons/helloworld/*..exe
./G05_FireFox_addons/helloworld/*..tds
./G05_FireFox_addons/helloworld/*..obj
./G05_FireFox_addons/helloworld/*..class
./G05_FireFox_addons/helloworld/*..mk
./G05_FireFox_addons/helloworld/content/*..exe
./G05_FireFox_addons/helloworld/content/*..tds
./G05_FireFox_addons/helloworld/content/*..obj
./G05_FireFox_addons/helloworld/content/*..class
./G05_FireFox_addons/helloworld/content/*..mk
./G05_FireFox_addons/helloworld/locale/*..exe
./G05_FireFox_addons/helloworld/locale/*..tds
./G05_FireFox_addons/helloworld/locale/*..obj
./G05_FireFox_addons/helloworld/locale/*..class
./G05_FireFox_addons/helloworld/locale/*..mk
./G05_FireFox_addons/helloworld/locale/en-US/*..exe
./G05_FireFox_addons/helloworld/locale/en-US/*..tds
./G05_FireFox_addons/helloworld/locale/en-US/*..obj
./G05_FireFox_addons/helloworld/locale/en-US/*..class
./G05_FireFox_addons/helloworld/locale/en-US/*..mk
./G05_FireFox_addons/helloworld/skin/*..exe
./G05_FireFox_addons/helloworld/skin/*..tds
./G05_FireFox_addons/helloworld/skin/*..obj
./G05_FireFox_addons/helloworld/skin/*..class
./G05_FireFox_addons/helloworld/skin/*..mk
./G06_gitignore/*..exe
./G06_gitignore/*..tds
./G06_gitignore/*..obj
./G06_gitignore/*..class
./G06_gitignore/*..mk
./G06_gitignore/a/*..exe
./G06_gitignore/a/*..tds
./G06_gitignore/a/*..obj
./G06_gitignore/a/*..class
./G06_gitignore/a/*..mk
./G06_gitignore/a/b/*..exe
./G06_gitignore/a/b/*..tds
./G06_gitignore/a/b/*..obj
./G06_gitignore/a/b/*..class
./G06_gitignore/a/b/*..mk
./G06_gitignore/a/c/*..exe
./G06_gitignore/a/c/*..tds
./G06_gitignore/a/c/*..obj
./G06_gitignore/a/c/*..class
./G06_gitignore/a/c/*..mk
./G06_gitignore/d/*..exe
./G06_gitignore/d/*..tds
./G06_gitignore/d/*..obj
./G06_gitignore/d/*..class
./G06_gitignore/d/*..mk
./G06_gitignore/d/e/*..exe
./G06_gitignore/d/e/*..tds
./G06_gitignore/d/e/*..obj
./G06_gitignore/d/e/*..class
./G06_gitignore/d/e/*..mk
./galaxy/*..exe
./galaxy/*..tds
./galaxy/*..obj
./galaxy/*..class
./galaxy/*..mk
./galaxy/bin/*..exe
./galaxy/bin/*..tds
./galaxy/bin/*..obj
./galaxy/bin/*..class
./galaxy/bin/*..mk
./log/*..exe
./log/*..tds
./log/*..obj
./log/*..class
./log/*..mk
./STOR_G20111027_043828_etc_1/*..exe
./STOR_G20111027_043828_etc_1/*..tds
./STOR_G20111027_043828_etc_1/*..obj
./STOR_G20111027_043828_etc_1/*..class
./STOR_G20111027_043828_etc_1/*..mk
