*.exe
*.dat
a/
./a/*.obj
./a/*.tds
./a/*.o
./a/*.exe
./a/*.class
./a/*.mk
./a/b/*.obj
./a/b/*.tds
./a/b/*.o
./a/b/*.exe
./a/b/*.class
./a/b/*.mk
./a/c/*.obj
./a/c/*.tds
./a/c/*.o
./a/c/*.exe
./a/c/*.class
./a/c/*.mk
./d/*.obj
./d/*.tds
./d/*.o
./d/*.exe
./d/*.class
./d/*.mk
./d/e/*.obj
./d/e/*.tds
./d/e/*.o
./d/e/*.exe
./d/e/*.class
./d/e/*.mk
